* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    overflow-y: initial;
}

body {
    background-color: black;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

button {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding: 5px 5px;
    border-radius: 30%;
}